
  @import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color:#050b24;
    font-family: 'Bagel Fat One', cursiva;
}
.main{
    display: flex;
    gap: 50px;
    width: 100%;
    margin: auto;
    height: 100%;
}
section{
    margin: 0px 50px;
}
#sectImg{
    width: 150px;
    height: 250px;
}
header{
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 5px;

}
h2{
  color: white;
}
.buttonAut{
    width: 50px;
    height: 30px;
    border-radius: 30px;
    font-size: 19px;
    margin: 3px;
}
.buttonAut:hover{
  background-color:rgb(38, 38, 72);
  color: white;
  transition: 0.6s;
}
.bloco-1{
    display: flex;
    justify-content: center;
}
.bloco-2{
    display: flex;
    justify-content: center;
    
}
.bloco-3{
    display: flex;
    justify-content: center;
    
}
.bloco-4{
    display: flex;
    justify-content: center;
    
}
.div-buttonCalcular{
    display: flex;
    justify-content: center;
    margin: 10px;
}
#buttonCalcular{
    width: 100px;
    height: 30px;
    margin: 10px;
    background-color: rgb(246 249 255 / 17%);
    color: white;
}
#buttonCalcular:hover{
  background-color: rgb(145, 145, 232);
  color: black;
  transition: 0.5s;
  border: 5px solid rgb(38, 38, 72);
  
}
#injetora{
    background-color: black;
    width: 95px;
    height: 35px;
    margin: 10px 7px 10px 10px;
}
#aut, #pes{
    text-align: center;
    font-weight: 800;
}
.inputs{
    width: 80px;
    margin: auto;
}
.inputs{
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
}
.divAltura{
    display: flex;
    justify-content: center;
    color: wheat;
    margin: 5px 0px;
}
.divPeso{
    display: flex;
    justify-content: center;
    color: wheat;
    margin-left: 15px;
}
.h2Result{
    font-size: 20px;
    display: flex;
    justify-content: center;
}
#img{
    height: 250px;
    margin: 25px 20px;
}
